{{define "main"}}
{{template "base"}}
<div class="container">
  <div class="intro"><h2 class="text-center">URL Shorter</h2>
    <p class="text-center"></p></div>
  <form class="d-flex justify-content-center flex-wrap" method="post">
    <div class="mb-3"><input class="form-control" type="text" name="url" placeholder="Your Link"></div>
    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>
</div>
{{template "down"}}
{{end}}

{{define "result"}}
<head>
  <meta charset="utf-8">
  <title>URL Shorter</title>
</head>
<body>
  <h2>URL Shorter</h2>
  {{.}}
</body>
{{end}}

{{define "error"}}
<head>
  <meta charset="utf-8">
  <title>URL Shorter</title>
</head>
<body>
  <h2>Error</h2>
  {{.}}
</body>
{{end}}

{{define "wrongURL"}}
<head>
  <meta charset="utf-8">
  <title>URL Shorter</title>
</head>
<body>
<h2>Wrong URL</h2>
<a href="/">Try again</a>
</body>
{{end}}

{{define "404"}}
<head>
  <meta charset="utf-8">
  <title>404</title>
</head>
<body>
<h2>404</h2>
</body>
{{end}}